__pycache/
env/
app/__pycache__/
app/*.pyc
app/*.pyo
app/*.pyd
app/*.pyw
app/*.pyz
app/*.pyzw
app/*.pyc/
app/*.pyo/
app/*.pyd/
app/*.pyw/
app/*.pyz/
app/*.pyzw/
app/*.egg-info/
*.egg-info/
*.egg/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.pyc/
*.pyo/
*.pyd/
*.pyw/
.env
*.env
*.env/
*.env/*
.pytest_cache/
__pycache__/
mistral-secret.json
nbs/
